Logowanie
<form>
  Uzupełnij dane karty płatniczej

  Numer
  <input type="text" [(ngModel)]="user.number" [ngModelOptions]="{standalone: true}">
  CCV
  <input type="text" [(ngModel)]="user.ccv" [ngModelOptions]="{standalone: true}">
  Data ważności
  <input type="text" [(ngModel)]="user.expiryDate" [ngModelOptions]="{standalone: true}">
  Imię
  <input type="text" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
  Nazwisko
  <input type="text" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">

  <button (click)="login()">Zaloguj się</button>
</form>
